html {
    background-color: #f0f0f0; /* Світлий нейтральний фон */
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #ee2b2e; /* Фірмовий червоний Opera */
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #ee2b2e; /* Червоний заголовок */
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    cursor: pointer; /* Курсор для кліку */
}

p, li {
    font-size: 16px;
    line-height: 1.5;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ee2b2e; /* Червона кнопка */
    color: white;
    border: none;
    cursor: pointer;
}